body{
	background-color: gray;
}

#container{
	background-color: black;
	padding: 2%;
	margin: auto;
	with: 80%;
}

#header{
	background-color: yellow;
	padding: 2%;
}

#main{
	background-color: white;
	height: 400px;
}

#footer{
	background-color: blue;
	padding: 2%;
}

#sidebar{
	background-color: red;
	width: 30%;
	height: 400px;
	float: left;
}

#article{
	background-color: green;
	width: 70%;
	height: 400px;
	float: left;
}
